<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="core" type="eCommerce.Core.Configuration.Config, eCommerce.Core" requirePermission="false" />
  </configSections>
  <core>
    <automation enabled="true" />
    <databasesetting associatedfile="~/nosqldbsettings.txt" />
  </core>
  <connectionStrings>
    <add name="MongoServerSettings" connectionString="mongodb://localhost:27017/eCommerceTest" />
  </connectionStrings>
</configuration>