<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserExtension" />
      </basicHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wyu20:8733/eCommerce/Services/Users/userextension.svc/UserExtension"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserExtension"
          contract="IUserExtension" name="BasicHttpBinding_IUserExtension" />
      <endpoint address="http://wyu20:8733/eCommerce/Services/Users/userservice.svc/UserService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
          contract="IUserService" name="BasicHttpBinding_IUserService" />
    </client>
  </system.serviceModel>
</configuration>