<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Config" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wyu20:8733/eCommerce/Services/Users/userservice.svc/UserService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Config"
                contract="IUserService" name="BasicHttpBinding_IUserService" />
      <endpoint address="http://wyu20:8733/eCommerce/Services/Common/genericcharacteristicService.svc/GenericCharacteristicService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Config"
                contract="IGenericCharacteristicService" name="BasicHttpBinding_IGenericCharacteristicService" />
      <endpoint address="http://wyu20:8733/eCommerce/Services/Common/datainfoservice.svc/DataInfoService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Config"
                contract="IDataInfoService" name="BasicHttpBinding_IDataInfoService" />
    </client>
  </system.serviceModel>
</configuration>