<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net45" />
  <package id="Autofac.Mvc3" version="2.6.3.862" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="MiniProfiler" version="2.0.2" targetFramework="net45" />
  <package id="MiniProfiler.EF" version="2.0.3" targetFramework="net45" />
  <package id="MiniProfiler.MVC3" version="2.0.2" targetFramework="net45" />
  <package id="WebActivator" version="1.5.1" targetFramework="net45" />
</packages>